<h1>Sorry, you don't have permission to access this application</h1>

<p>Please contact your Delivery Manager or main GDS contact if you need access.</p>

<p>If you think something is wrong, try <%= link_to "signing out", gds_sign_out_path %> and then back in</p>

