<h1><%= message %></h1>

<p>Please contact your Delivery Manager or main GDS contact if you think you should be able to do what you tried to do.</p>

<p>If you think something is wrong, try <%= link_to "signing out", gds_sign_out_path %> and then back in</p>
