<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
    <div id="footer" class="cf">
      &copy; <%= Date.today.year %> <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
    </div>
  </body>
</html>
