<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
    <div id="footer" class="cf">
      &copy; <%= Date.today.year %> <a href="http://digital.cabinetoffice.gov.uk/"><abbr title="Government Digital Service">GDS</abbr></a>.
    </div>
  </body>
</html>
